.nav-toggle{       /* Icône du menu */
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar,
.nav-toggle-bar::before,      /* Barres de l'icône du menu */
.nav-toggle-bar::after{
    content: "";
    background-color:#EB9000;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .5s ease-in-out;
}

.nav-toggle-bar::before{
    top: -10px;
}

.nav-toggle-bar::after{
    top: 10px;
}

.menu-open .nav-toggle-bar {
    transform: rotate(135deg);
}

.menu-open .nav-toggle-bar::before,
.menu-open .nav-toggle-bar::after{
    transform: rotate(90deg);
    top:0
}

/* Menu */

.menu {
    background-color:#93000E ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all 0.5s;
    z-index: 1;
}

.menu-open .menu{
    transform: translateX(0);
}

/* Pour corriger le bug IOS */

.menu-open,
.menu-open body {
    overflow: hidden;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

.menu li {
    margin-bottom: 25px;
    transform: translateX(30px);
    opacity: 0;
    transition: all .8s ease;
}

.menu-open .menu li {
    transform: translateX(0);
    opacity: 1;
    text-align: center;
}

.menu-open .menu li:first-child {
    position: relative;
    top: -10px;
    font-size: 4rem;
    transition-delay: .2s;
}

.menu-open .menu li:nth-child(n+2),.menu-open .menu li:nth-child(n+3),.menu-open .menu li:nth-child(n+4) { transition-delay: .6s}
.menu-open .menu li:nth-child(n+6) { transition-delay: 1s}
.menu-open .menu li:last-child {
    transition-delay: 1.4s;
    position: relative;
    margin-left: 37px;
    bottom: -50px;
}

.menu-open .menu li:last-child a {
    padding-right: 35px;

}

.menu a {
    color: #EB9000;
}

.menu hr {
    border-color: #317A34;
    border-width: 2px;
    margin-inline-start:  30px;
    margin-inline-end:  30px;



}

